.color-bg-white {
	background-color: #FFF;
}
	.color-white {
		color: #FFF;
	}

.color-bg-black {
	background-color: #000033;
}
	.color-black {
		color: #000033;
	}

.color-bg-gray {
	background-color: #60606d;
}
	.color-gray {
		color: #60606d;
	}

.color-bg-blue {
	background-color: #0066ff;
}
	.color-blue {
		color: #0066ff;
	}
	.color-bg-light-blue {
	background-color: #F2F7FF;
	}

.color-bg-red {
	background-color: #ff0066;
}
	.color-red {
		color: #ff0066;
	}
	.color-bg-light-red {
	background-color: #FFF2F7;
	}

.color-bg-orange {
	background-color: #ff9d00;
}
	.color-orange {
		color: #ff9d00;
	}
	.color-bg-light-orange {
	background-color: #FFFAF2;
	}

.color-bg-green {
	background-color: #11aa00;
}
	.color-green {
		color: #11aa00;
	}
	.color-bg-light-green {
	background-color: #F3FBF2;
	}
