.color-bg-white {
	background-color: #FFF;
}
	.color-white {
		color: #FFF;
	}

.color-bg-lightest-gray {
	background-color: #F4F4F4;
}
	.color-lightest-gray {
		color: #F4F4F4;
	}

.color-bg-light-gray {
	background-color: #E2DEEE;
}
	.color-light-gray {
		color: #E2DEEE;
	}

.color-bg-medium-gray {
	background-color: #6D6970;
}
	.color-medium-gray {
		color: #6D6970;
	}

.color-bg-dark-gray {
	background-color: #15003F;
}
	.color-dark-gray {
		color: #15003F;
	}


.color-bg-purple {
	background-color: #4608BF;
}
	.color-purple {
		color: #4608BF;
	}

.color-bg-blue {
	background-color: #5C1AFF;
}
	.color-blue {
		color: #5C1AFF;
	}

.square {
	height: 50px;
	width: 50px;
	border: 1px solid gray;
}