.color-500 { color: #00131E; }
.color-bg-500 { background-color: #00131E; }

.color-400 { color: #264D56; }
.color-bg-400 { background-color: #264D56; }

.color-300 { color: #B3C6C2; }
.color-bg-300 { background-color: #B3C6C2; }

.color-200 { color: #C7EAE4; }
.color--bg-200 { background-color: #C7EAE4; }

.color-100 { color: #03E2B7; }
.color-bg-100 { background-color: #03E2B7; }

.color-000 { color: #fff; }
.color-bg-000 { background-color: #fff; }

.opacity-75 {
	opacity: .75;
}
.opacity-75:hover {
	opacity: 1;
}