#rectangle {
	width: 90%;
	height: 37%;
	background: #89E6EA;
	left: 5%;
	position: absolute;
	top: 25%;
	z-index: 2;
	padding: 2em 2em 0 45em;
	text-align: left;
}

#rectangle h2 {
	color: #fff;
	line-height: 1em;
	font-size: 3.7em;
	margin-bottom: 12px;
}

#rectangle p {
	font-size: 1.2em;
}

.samples {
	width: 40%;
	z-index: 5;
	position: relative;
	display: block;
	-webkit-box-shadow:0px 0px 15px rgba(142,154,173,0.6);
	  	-moz-box-shadow:0px 0px 15px rgba(142,154,173,0.6);
	    -o-box-shadow:0px 0px 15px rgba(142,154,173,0.6);
	    -ms-box-shadow:0px 0px 15px rgba(142,154,173,0.6);
	    box-shadow: box-shadow:0px 0px 15px rgba(142,154,173,0.6);
	left: 10%;
	top: 115px;
	margin-bottom: 5em;
}

#icons {
	width: 70%;
	float: left;
	margin-top: 3.5em;
}

#sample-copy {
	width: 48%;
	position: absolute;
	left: 53%;
	top: 32em;
	padding-right: 9em;
	text-align: left;
	display: block;
}


