* { margin:0; padding:0; box-sizing:border-box; }

body {
	color: #1D0235;
	background-color: #F4F4F4;
}

header {
	box-shadow: 0px 0px 15px rgba(109, 105, 112, 0.5);
}

a {
	color: #4608BF;
	font-weight: 600;
}

li {
	margin: 10px 0 10px 0;
}

nav {
	height: 54px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.stack {
	width: 1024px;
	margin: auto;
}
	@media screen and (max-width: 1023px) {
		.stack {
			padding-left: 2%;
			padding-right: 2%;
			width: 100%;
		}
	}

.shadow {
	box-shadow: 0px 0px 10px rgba(109, 105, 112, 0.2);
}

.icon {
	height: 12px;
	width: 12px;
}

.icon-large {
	height: 16px;
	width: 16px;
}

.portrait {
	max-height: 500px;
}

.rectangle {
	width: 200px;
	height: 200px;
	position: relative;
	top: -505px;
	left: 82%;
	z-index: -2;
	background-color: #8264FF;
	border-radius: 8px;
}

.img-preview {
	height: 315px;
	position: relative;
	top: -220px;
	z-index: -1;
}

.img-preview-mobile {
	margin-bottom: 20px;
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -20px;
    border-radius: 8px 8px 0px 0px;
}

.card {
	box-shadow: 0px 0px 15px rgba(109, 105, 112, 0.5);
	z-index: 2;
	border-radius: 10px;
	background-color: #fff;
	width: 70%;
	float: right;
	padding: 32px;
}
	@media screen and (max-width: 1023px) {
	.card {
		width: 100%;
		padding: 20px;
		margin-bottom: 24px;
		}
	}

.container {
	height: 465px;
}
	@media screen and (max-width: 1023px) {
		.container {
			height: auto;
		}
	}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.02);
}

.border {
	border-top: 1px solid #E2DEEE;
	padding-top: 8px;
}
