#name-header {
	font-size: 12.35em;
	width: 100%;
	position: absolute;
	display: table;
	top: 6%;
	z-index: 1;
}

#peacock {
	display: inline;
}

#rectangle {
	width: 80%;
	height: 35%;
	background: #89E6EA;
	left: 10%;
	position: absolute;
	top: 41%;
	z-index: 2;
}

#face {
	width: 31em;
	position: absolute;
	display: block;
	bottom: 0%;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 3;
}

#catchphrase {
	font-size: 5.55em;
	font-weight: 500;
	letter-spacing: 3.5px;
	position: absolute;
	width: 100%;
	top: 78%;
	z-index: 4;
}

@media screen and (min-width: 1281px) {
	#name-header {
		font-size: 10vw;
		top: 8%;
	}

	#face {
		width: 31vw;
	}

	#catchphrase {
		font-size: 5vw;
	}
}

@media screen and (max-width: 1035px) {
	#name-header {
		font-size: 10em;
		top: 8%;
	}

	#catchphrase {
		font-size: 4.25em;
		top: 80%;
	}
}

@media screen and (max-width: 835px) {
	#name-header {
		font-size: 8em;
		top: 10%;
	}

	#catchphrase {
		font-size: 3.3em;
		top: 82%;
	}
}

@media screen and (max-width: 675px) {
	#peacock {
		display:none;
	}

	#name-header {
		font-size: 13em;
		top: 5%;
	}

	#catchphrase {
		top: 79%;
	}
}

@media screen and (max-width: 510px) {
	#name-header {
		font-size: 9em;
		top: 15%;
	}

	#face {
		width: 25em;
	}

	#rectangle {
		width: 100%;
		left: 0;
	}

	#catchphrase {
		font-size: 3em;
	}
}