.green-link {
	text-decoration: underline;
	font-weight: 900;
	color: #03E2B7;
}

.green-link:hover {
	color: #0CBF9D;
}

.dark-link {
	text-decoration: underline;
	font-weight: 900;
	color: #001426;
}

.dark-link:hover {
	color: #002838;
}

.button-100 {
	background-color: #03E2B7;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-size: 16px;
	letter-spacing: .4px;
	color: #001426;
	font-weight: 900;
	padding: 8px 24px 8px 24px;
	border-radius: 32px;
	border: 2px solid #03E2B7;
	text-decoration: none;
}

.button-100:hover {
	background-color: #0CBF9D;
	cursor: pointer;
	border: 2px solid #0CBF9D;

}

.button-100-outline {
	background-color: transparent;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-size: 16px;
	letter-spacing: .4px;
	color: #03E2B7;
	font-weight: 900;
	padding: 8px 24px 8px 24px;
	border-radius: 32px;
	border: 2px solid #03E2B7;
	text-decoration: none;
}

.button-100-outline:hover {
	background-color: rgba(3, 226, 183, .1);
	cursor: pointer;
	border: 2px solid #03E2B7;
}

.button-500 {
	background-color: #001426;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-size: 16px;
	letter-spacing: .4px;
	color: #03E2B7;
	font-weight: 900;
	padding: 8px 24px 8px 24px;
	border-radius: 32px;
	border: 2px solid #001426;
	text-decoration: none;
}

.button-500:hover {
	background-color: #002838;
	cursor: pointer;
	border: 2px solid #002838;
}

.button-500-outline {
	background-color: transparent;
	font-family: proxima-nova, sans-serif;
	font-style: normal;
	font-size: 16px;
	letter-spacing: .4px;
	color: #001426;
	font-weight: 900;
	padding: 8px 24px 8px 24px;
	border-radius: 32px;
	border: 2px solid #001426;
	text-decoration: none;
}

.button-500-outline:hover {
	background-color: rgba(3, 226, 183, .1);
	cursor: pointer;
	border: 2px solid #002838;
}