.alpha-padding { padding: 130px; }
.alpha-padding-top { padding-top: 130px; }
.alpha-padding-bottom { padding-bottom: 130px; }
.alpha-padding-right { padding-right: 130px; }
.alpha-padding-left { padding-left: 130px; }
.alpha-margin { margin: 130px; }
.alpha-margin-top { margin-top: 130px; }
.alpha-margin-bottom { margin-bottom: 130px; }
.alpha-margin-right { margin-right: 130px; }
.alpha-margin-left { margin-left: 130px; }


.beta-padding { padding: 40px; }
.beta-padding-top { padding-top: 40px; }
.beta-padding-bottom { padding-bottom: 40px; }
.beta-padding-right { padding-right: 40px; }
.beta-padding-left { padding-left: 40px; }
.beta-margin { margin: 40px; }
.beta-margin-top { margin-top: 40px; }
.beta-margin-bottom { margin-bottom: 40px; }
.beta-margin-right { margin-right: 40px; }
.beta-margin-left { margin-left: 40px; }


.gamma-padding { padding: 32px; }
.gamma-padding-top { padding-top: 32px; }
.gamma-padding-bottom { padding-bottom: 32px; }
.gamma-padding-right { padding-right: 32px; }
.gamma-padding-left { padding-left: 32px; }
.gamma-margin { margin: 32px; }
.gamma-margin-top { margin-top: 32px; }
.gamma-margin-bottom { margin-bottom: 32px; }
.gamma-margin-right { margin-right: 32px; }
.gamma-margin-left { margin-left: 32px; }


.delta-padding { padding: 24px; }
.delta-padding-top { padding-top: 24px; }
.delta-padding-bottom { padding-bottom: 24px; }
.delta-padding-right { padding-right: 24px; }
.delta-padding-left { padding-left: 24px; }
.delta-margin { margin: 24px; }
.delta-margin-top { margin-top: 24px; }
.delta-margin-bottom { margin-bottom: 24px; }
.delta-margin-right { margin-right: 24px; }
.delta-margin-left { margin-left: 24px; }


.epsilon-padding { padding: 16px; }
.epsilon-padding-top { padding-top: 16px; }
.epsilon-padding-bottom { padding-bottom: 16px; }
.epsilon-padding-right { padding-right: 16px; }
.epsilon-padding-left { padding-left: 16px; }
.epsilon-margin { margin: 16px; }
.epsilon-margin-top { margin-top: 16px; }
.epsilon-margin-bottom { margin-bottom: 16px; }
.epsilon-margin-right { margin-right: 16px; }
.epsilon-margin-left { margin-left: 16px; }


.zeta-padding { padding: 8px; }
.zeta-padding-top { padding-top: 8px; }
.zeta-padding-bottom { padding-bottom: 8px; }
.zeta-padding-right { padding-right: 8px; }
.zeta-padding-left { padding-left: 8px; }
.zeta-margin { margin: 8px; }
.zeta-margin-top { margin-top: 8px; }
.zeta-margin-bottom { margin-bottom: 8px; }
.zeta-margin-right { margin-right: 8px; }
.zeta-margin-left { margin-left: 8px; }


.no-padding { padding: 0px; }
.no-padding-top { padding-top: 0px; }
.no-padding-bottom { padding-bottom: 0px; }
.no-padding-right { padding-right: 0px; }
.no-padding-left { padding-left: 0px; }
.no-margin { margin: 0px; }
.no-margin-top { margin-top: 0px; }
.no-margin-bottom { margin-bottom: 0px; }
.no-margin-right { margin-right: 0px; }
.no-margin-left { margin-left: 0px; }


.margin-auto { margin: 0 auto; }

@media screen and (max-width: 1023px) {
	.mobile-no-padding {
		padding: 0 !important;
	}
}

@media screen and (max-width: 1023px) {
	.mobile-no-margin {
		margin: 0 !important;
	}
}

@media screen and (max-width: 1023px) {
	.mobile-delta-margin-top {
		margin-top: 24px !important;
	}
}

@media screen and (max-width: 1023px) {
	.mobile-delta-margin-bottom {
		margin-bottom: 24px !important;
	}
}

.grid-gap-zeta {
	grid-gap: 8px;
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 50%);
}
	@media screen and (max-width: 1023px) {
		.grid-2 {
			display: grid;
			grid-template-columns: 100%;
		}
	}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 33.33%);
}
	@media screen and (max-width: 1023px) {
		.grid-3 {
			display: grid;
			grid-template-columns: 100%;
		}
	}

.grid-2thirds {
	grid-column: 1 / 3;
}

.grid-2thirds-right {
	grid-column: 2 / span 2;
}
	@media screen and (max-width: 1023px) {
			.grid-2thirds-right {
				grid-column: 1 / span 3;
			}
		}

.grid-4 {
	display: grid;
	grid-template-columns: repeat(4, 25%);
}
	@media screen and (max-width: 1023px) {
		.grid-4 {
			display: grid;
			grid-template-columns: 100%;
		}
	}

@media screen and (min-width: 1023px) {
.hide-desk { display: none; }}

@media screen and (max-width: 1023px) {
.hide-portable { display: none; }}

@media screen and (max-width: 1023px) { .mobile-height-250 { width: 250px !important; }}

.height-200 { height: 200px; }

.height-400 { height: 400px; }

.height-500 { height: 500px; }

.height-600 { height: 600px; }

.one-quarter-width { width: 25%; }
	@media screen and (max-width: 1023px) { .one-quarter-width { width: 100%; }}

.one-third-width { width: 33%; }
	@media screen and (max-width: 1023px) { .one-third-width { width: 100%; }}

.one-half-width { width: 50%; }
	@media screen and (max-width: 1023px) { .one-half-width { width: 100%; }}

.two-third-width { width: 66%; }
	@media screen and (max-width: 1023px) { .two-third-width { width: 100%; }}

.three-quarter-width { width: 75%; }
	@media screen and (max-width: 1023px) { .three-quarter-width { width: 100%; }}

.full-width { width: 100%; }

.display-block { display: block !important; }

.display-inline-block { display: inline-block !important; }
	@media screen and (max-width: 1023px) { .mobile-inline-block { display: inline-block !important; }}

.float-left { float: left; }

.float-right { float: right; }

.clear { clear: both; }

.overflow-hidden { overflow: hidden; }

.align-baseline { vertical-align: baseline; }

.vertical-middle { vertical-align: middle; }

.flex-center {
	display: flex;
	align-items: flex-start;
}

.flex-center .selected {
    align-self: center;
}

.align-center {
	align-items: center;
}
