
body {
	font-family: 'Nunito', sans-serif;
}

.alpha {
	font-style: normal;
	font-size: 50px;
	font-weight: 600;
}
	@media screen and (max-width: 1023px) { .alpha { font-size: 40px; }}

.beta {
	font-style: normal;
	font-size: 40px;
	font-weight: 600;
}
	@media screen and (max-width: 1023px) { .beta { font-size: 30px; }}

.gamma {
	font-style: normal;
	font-size: 30px;
	font-weight: 600;
}
	@media screen and (max-width: 1023px) { .gamma { font-size: 24px; line-height: 32px; }}

.delta {
	font-style: normal;
	font-size: 24px;
}
	@media screen and (max-width: 1023px) { .delta { font-size: 20px; }}

.epsilon {
	font-style: normal;
	font-size: 18px;
	line-height: 26px;
}

.zeta {
	font-style: normal;
	font-size: 14px;
}

.weight-bold { font-weight: 600 !important; }

.weight-normal { font-weight: 400 !important; }

.italic { font-style: italic; }

.no-underline { text-decoration: none !important; }

.underline-hover:hover { text-decoration: underline !important; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.text-left { text-align: left; }
